.logo-container {
    text-align: center;
    color: white;
    h2 {
        font-size: 52px;
        text-transform: uppercase;
        animation: blick 3s infinite;
    }

    p {
        font-size: 18px;
    }
}

@keyframes blick {
    0% {
        text-shadow: 0px 0px 10px white;
    }
    50% {
        text-shadow: none;
    }

    100% {
        text-shadow: 0px 0px 10px white;
    }
}
